<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-a.jpg">
        <img class="recipe-photo" src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-b.jpg">
        <img class="recipe-photo" src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-c.jpg">
        <img class="recipe-photo" src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-d.jpg">
    <h4><b>Yummy Mushroom Bowl</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>200 gr Cultivated mushroom</li>
      <li>200 gr Oyster mushroom</li>
      <li>2 Tbsp soy sauce</li>
      <li>1/2 Bunch of fresh basil</li>
      <li>4 Tbsp olive oil</li>
      <li>1/2 Package cream</li>
      <li>200 gr Broccoli</li>
      <li>2 Carrots</li>
      <li>1 Sprig of spring onions</li>
      <li>Black pepper</li>
    </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Steam the thinly sliced ​​carrots and broccoli.</li>
      <li><b>2.</b> Saute oyster mushrooms with 2 tbsp olive oil, 1 tbsp soy sauce and black pepper.</li>
      <li><b>3.</b> Cook the cultivated mushrooms with 2 tbsp olive oil in a separate pan.</li>
      <li><b>4.</b> Pass the fresh basil and cream through the blender and add to the cultivated mushrooms.</li>
      <li><b>5.</b> Add 1 tbsp soy sauce to the cultivated mushroom and mix.</li>
      <li><b>6.</b> Serve the mushrooms with rice and vegetables. (As the soy sauce is salty, no extra salt is added).</li>
  </div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
</div>
  </div>
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
