<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>


</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-a.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-b.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-c.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-d.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-e.jpg">
       
    <h4><b>Buns With Dill</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>1 Cup warm milk</li>
      <li>1 Cup warm water</li>
      <li>1 Tbsp sugar</li>
      <li>1 Pack instant yeast</li>
      <li>2 Tsp salt</li>
      <li>3 Tbsp yoghurt</li>
      <li>1 Egg</li>
      <li>1 Egg yolk</li>
      <li>1/2 Cup oil</li>
      <li>1/2 Bunch of dill</li>
      <li>200 gr Cheddar cheese</li>
      <li>1 Tbsp black seed</li>
      <li>4,5 -5 Cups flour</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Beat milk, water, instant yeast and sugar in a bowl.</li>
      <li><b>2.</b> In another bowl, beat the yogurt, oil and 1 egg and add the first mixture and mix a little more.</li>
      <li><b>3.</b> Slowly add flour to the mixture by sifting the flour.</li>
      <li><b>4.</b> After kneading the dough, leave to ferment for 1 hour at room temperature.</li>
      <li><b>5.</b> Add the diced dill to the dough.</li>
      <li><b>6.</b> Divide the dough into equal pieces and open each piece with your hands and put the cheddar in it.</li>
      <li><b>7.</b> Cover the dough and ferment for another 20 minutes at room temperature.</li>
      <li><b>8.</b> Put egg yolk on it and sprinkle with black seeds.</li>
      <li><b>9.</b> Bake in a preheated oven at 180°C (350°F) for 45 minutes.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
