<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-a.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-b.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-c.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-d.jpg">
        <img class="recipe-photo" src="/ins/04-buns-with-dill/buns-with-dill-e.jpg">
       
    <h4><b>Dereotlu Poğaça</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>1 Su bardağı ılık süt</li>
      <li>1 Su bardağı ılık su</li>
      <li>1 Yemek kaşığı toz şeker</li>
      <li>1 Paket instant maya</li>
      <li>2 Çay kaşığı tuz</li>
      <li>3 Yemek kaşığı yoğurt</li>
      <li>1 Adet yumurta</li>
      <li>1 Adet yumurta sarısı</li>
      <li>1 Çay bardağı sıvı yağ</li>
      <li>1/2 Demet dereotu</li>
      <li>200 gr Kaşar peyniri</li>
      <li>1 Yemek kaşığı çörekotu</li>
      <li>4,5 -5 Su bardağı un</li>

  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Süt, su, instant maya ve şekeri bir kabın içerisinde çırpın.</li>
      <li><b>2.</b> Başka bir kapta yoğurt, sıvı yağ ve 1 yumurtayı çırpın ve üzerine ilk karışımı ilave ederek biraz daha karıştırın.</li>
      <li><b>3.</b> Unu eleyerek karışıma yavaşça ilave edin.</li>
      <li><b>4.</b> Hamuru yoğurduktan sonra oda sıcaklığında 1 saat kadar mayalanmaya bırakın.</li>
      <li><b>5.</b> Doğranmış dereotunu hamura ekleyin.</li>
      <li><b>6.</b> Hamuru eşit parçalara bölün ve her parçayı elinizle açarak içine kaşar peyniri koyun.</li>
      <li><b>7.</b> Hamurun üzerini kapatarak oda sıcaklığında 20 dakika daha mayalandırın.</li>
      <li><b>8.</b> Üzerine yumurta sarısı sürüp çörekotu serpiştirin.</li>
      <li><b>9.</b> Önceden 180 °C'de ısıtılmış fırında 45 dakika kadar pişirin.</li>
      
      
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
