<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/05-spring-pasta/spring-pasta-a.jpg">
        <img class="recipe-photo" src="/ins/05-spring-pasta/spring-pasta-b.jpg">
       
    <h4><b>Bahar Makarnasi</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>1 Paket tam buğday makarna</li>
      <li>150 gr Dana kıyma</li>
      <li>1 Parça taze zerdeçal</li>
      <li>5 Adet kurutulmuş domates</li>
      <li>5 Dal reyhan</li>
      <li>1 Avuç doğranmış taze soğan</li>
      <li>3 yemek kaşığı zeytinyağı</li>
      <li>Karabiber</li>
      <li>Kırmızı toz biber</li>
      <li>Tuz</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Makarnayı haşlayın ve süzün.</li>
      <li><b>2.</b> Kuru domatesleri 10 dakika sıcak suda bekletin ve doğrayın.</li>
      <li><b>3.</b> Bir tavada zeytinyağı, zerdeçal ve kıymayı kavurun.</li>
      <li><b>4.</b> Baharatları ve domatesleri ekleyin.</li>
      <li><b>5.</b> Makarnayı üzerine ekleyin ve karıştırın.</li>
      <li><b>6.</b> Servis tabağına aldıktan sonra üzerini taze soğan ve reyhanla süsleyin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
