<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/05-spring-pasta/spring-pasta-a.jpg">
        <img class="recipe-photo" src="/ins/05-spring-pasta/spring-pasta-b.jpg">
       
    <h4><b>Spring Pasta</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>1 Pack whole wheat pasta</li>
      <li>150 gr Ground meat</li>
      <li>1 Piece of fresh turmeric</li>
      <li>5 Dried tomatoes</li>
      <li>5 Branches of purple basil</li>
      <li>1 Handful chopped spring onions</li>
      <li>3 Tbsp olive oil</li>
      <li>Black pepper</li>
      <li>Ground red pepper</li>
      <li>Salt</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Boil the pasta and drain.</li>
      <li><b>2.</b> Soak the dried tomatoes in hot water for 10 minutes and chop.</li>
      <li><b>3.</b> Roast olive oil, turmeric and ground beef in a frying pan.</li>
      <li><b>4.</b> Add the spices and tomatoes.</li>
      <li><b>5.</b> Add the pasta over and mix.</li>
      <li><b>6.</b> After putting to the serving plate, garnish with spring onions and purple basil.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
