<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>


</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/06-cute-chia-pudding/cute-chia-pudding-a.jpg">
        <img class="recipe-photo" src="/ins/06-cute-chia-pudding/cute-chia-pudding-b.jpg">
        <img class="recipe-photo" src="/ins/06-cute-chia-pudding/cute-chia-pudding-c.jpg">
      <h4><b>Tatlı Chia Puding</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
<p class="title">1 Porsiyon</p>
   <p>
      <li>2 Yemek kaşığı chia tohumu</li>
      <li>1/2 Su bardağı (125 mL) süt</li>
      <li>1/2 Yemek kaşığı bal </li>
      <li>4 Çilek</li>
      <li>1 Kivi</li>
      <li>5 Çiğ badem</li>
  </p>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- yatay görüntülü -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="6558414810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Chia tohumlarını ve sütü bir kasede veya kavanozda birleştirin ve karıştırın.</li>
      <li><b>2.</b> Karışımı en az 2 saat buzdolabında saklayın. (1 Gece beklemesi önerilir)</li>
      <li><b>3.</b> Karıştırın ve yarısını bir servis bardağına koyun.</li>
      <li><b>4.</b> Dekorasyon için 1 çilek ile 1 kiviyi doğrayın ve bardak içine yerleştirin.</li>
      <li><b>5.</b> Kalan karışımı bardağa ekleyin.</li>
      <li><b>6.</b> Üstüne doğranmış çiğ badem, çilek ve kivi koyun.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
