<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/07-double-sauced-cake/double-sauced-cake-a.jpg">
        <img class="recipe-photo" src="/ins/07-double-sauced-cake/double-sauced-cake-b.jpg">
      <h4><b>Çift Soslu Kek</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>3 Yumurta</li>
      <li>1 Su bardağı şeker</li>
      <li>1 Su bardağı sıvı yağ</li>
      <li>1 Su bardağı süt</li>
      <li>2 Su bardağı un</li>
      <li>1 Paket kabartma tozu</li>
      <li>1 Paket vanilya</li>
      <li>1/2 Su bardağı kakao</li>
      <li>2 Parça bitter çikolata (1 Dilim için)</li>
      <li>1 Yemek kaşığı tahin</li>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> 3 yumurta ve 1 su bardağı şekeri 5 dakika çırpın.</li>
      <li><b>2.</b> Sonra yağı ve sütü ekleyip çırpmaya devam edin.</li>
      <li><b>3.</b> Karışıma unu, kabartma tozunu, kakaoyu ve vanilyayı ekleyip çırpın.</li>
      <li><b>4.</b> Kek kalıbını sıvı yağ ile yağlayıp karışımı içine dökün.</li>
      <li><b>5.</b> Önceden 180°C'de ısıttığınız fırına koyun.</li>
      <li><b>6.</b> 40 dakika fırını açmadan pişirin.</li>
      <li><b>7.</b> Soğuduktan sonra dilimleyip, üzerini tahin ve erittiğiniz bitter çikolatayla süsleyin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
