<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/07-double-sauced-cake/double-sauced-cake-a.jpg">
        <img class="recipe-photo" src="/ins/07-double-sauced-cake/double-sauced-cake-b.jpg">
      <h4><b>Double Sauced Cake</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>3 Eggs</li>
      <li>1 Cup sugar</li>
      <li>1 Cup oil</li>
      <li>1 Cup milk </li>
      <li>2 Cups flour</li>
      <li>1 Packet baking powder</li>
      <li>1 Pack vanilla</li>
      <li>1/2 Cup cocoa</li>
      <li>2 Pieces of dark chocolate (for 1 slice) </li>
      <li>1 Tbsp tahini</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Beat 3 eggs and 1 cup  sugar for 5 minutes.</li>
      <li><b>2.</b> Add the butter and milk and continue to beat.</li>
      <li><b>3.</b> Add flour, baking powder, cocoa and vanilla then beat.</li>
      <li><b>4.</b> Oil the cake pan with oil and pour the mixture into it.</li>
      <li><b>5.</b> Put in the oven, which you pre-heated at 180°C (350°F).</li>
      <li><b>6.</b> Cook for 40 minutes without opening the oven.</li>
      <li><b>7.</b> After cooling, slice and garnish with tahini and melted dark chocolate.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
