<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/09-rainbow-wrap/rainbow-wrap-a.jpg">
        <img class="recipe-photo" src="/ins/09-rainbow-wrap/rainbow-wrap-b.jpg">
      <h4><b>Gökkuşağı Dürüm</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
<p class="title">1 Porsiyon</p>
   <p>
      <li>8 Dilim sucuk</li>
      <li>Fırınlanmış baharatlı patates ve brokoli</li>
      <li>1 Adet tam buğday lavaş</li>
      <li>3 Yemek kaşığı kıyma</li>
      <li>1/2 Yemek kaşığı zeytinyağı</li>
      <li>3 Yemek kaşığı <a style="text-decoration:underline; background-color:rgb(242, 242, 242)" href="/08-yesil-mercimek-sosu">benim yeşil mercimek sosumdan</a></li>
      <li>Karabiber</li>
      <li>Kimyon</li>
      <li>Tuz</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Zeytinyağı ve baharatlarla kıymayı kavurun.</li>
      <li><b>2.</b> Sucukları kızartıp kıymayla birlikte lavaşın üzerine koyun.</li>
      <li><b>3.</b> Sebzeleri de ekleyip üzerine yeşil mercimek sosunu yayın.</li>
      <li><b>4.</b> Lavaşı yuvarladıktan sonra ortadan ikiye bölerek servis edin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
