<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/09-rainbow-wrap/rainbow-wrap-a.jpg">
        <img class="recipe-photo" src="/ins/09-rainbow-wrap/rainbow-wrap-b.jpg">
      <h4><b>Rainbow Wrap</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
<p class="title">1 Serving</p>
   <p>
      <li>8 Slices sausage</li>
      <li>Baked spicy potatoes and broccoli</li>
      <li>1 Whole wheat lavash</li>
      <li>3 Tbsp ground meat</li>
      <li>1/2 Tbsp olive oil</li>
      <li>3 Tbsp of <a style="text-decoration:underline; background-color:rgb(242, 242, 242)" href="/08-green-lentil-sauce">my green lentil sauce</a></li>
      <li>Black pepper</li>
      <li>Cumin</li>
      <li>Salt</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Roast the ground meat with olive oil and spices.</li>
      <li><b>2.</b> Fry the sausages with ground meat and put on the lavash.</li>
      <li><b>3.</b> Add the vegetables and spread the green lentil sauce on the top.</li>
      <li><b>4.</b> After rolling the lavash, serve it by dividing it in half.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
