<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>


</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/10-apple-oatmeal/apple-oatmeal-a.jpg">
        <img class="recipe-photo" src="/ins/10-apple-oatmeal/apple-oatmeal-b.jpg">
      <h4><b>Apple Oatmeal</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
<p class="title">1 Serving</p>
   <p>
      <li>4 Tbsp oats</li>
      <li>1 Cup (250 ml) milk</li>
      <li>1/2 Frozen banana</li>
      <li>1/2 Banana</li>
      <li>1/2 Apple</li>
      <li>1 Tbsp carob extract</li>
      <li>1 Tbsp tahini</li>
      <li>1/2 Tbsp grated nutmeg</li>
      <li>5 Raw almonds</li>
  </p>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- yatay görüntülü -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="6558414810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Add 4 tbsp oat to half a cup of (125 ml) milk and let it sit overnight in the fridge.</li>
      <li><b>2.</b> Next day, put the oats, half a cup of (125ml) milk and 1/2 frozen banana in a blender and blend.</li>
      <li><b>3.</b> Take the mixture on the serving plate. (You can add more milk according to its consistency).</li>
      <li><b>4.</b> Put on the top of it, 1/2 apple, 1/2 banana, and chopped raw almonds.</li>
      <li><b>5.</b> Mix carob exract with tahini and pour it over.</li>
      <li><b>6.</b> As a final touch, sprinkle with grated nutmeg on it.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
