<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>


</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/10-apple-oatmeal/apple-oatmeal-a.jpg">
        <img class="recipe-photo" src="/ins/10-apple-oatmeal/apple-oatmeal-b.jpg">
      <h4><b>Elmalı Yulaf Lapası</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
<p class="title">1 Porsiyon</p>
   <p>
      <li>4 Yemek kaşığı yulaf</li>
      <li>1 Su bardağı (250 ml) süt</li>
      <li>1/2 Dondurulmuş muz</li>
      <li>1/2 Muz</li>
      <li>1/2 Elma</li>
      <li>1 Yemek kaşığı keçiboynuzu özü</li>
      <li>1 Yemek kaşığı tahin</li>
      <li>1/2 Yemek kaşığı rendelenmiş muskat</li>
      <li>5 Çiğ badem</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> 4 Yemek kaşığı yulafa yarım su bardağı (125 ml) süt ekleyip dolapta bir gece bekletin.</li>
      <li><b>2.</b> Ertesi gün yulafı, 1/2 dondurulmuş muzu ve yarım bardak (125 ml) sütü blenderdan geçirin.</li>
      <li><b>3.</b> Karışımı servis tabağına alın. (Kıvamına göre süt ekleyebilirsiniz).</li>
      <li><b>4.</b> 1/2 elma, 1/2 muz, ve doğranan çiğ bademleri üzerine koyun.</li>
      <li><b>5.</b> Keçiboynuzu özüyle tahini karıştırıp üzerine gezdirin.</li>
      <li><b>6.</b> Son dokunuş olarak üzerine rendelenmiş muskatı serpin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
