<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-a.jpg">
        <img class="recipe-photo" src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-b.jpg">
        <img class="recipe-photo" src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-c.jpg">
      <h4><b>Ispanaklı Börek</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>1 Adet soğan</li>
      <li>1/2 Kilo ıspanak</li>
      <li>3 Yemek kaşığı zeytinyağı</li>
      <li>1 Yemek kaşığı toz kırmızı biber</li>
      <li>4 Adet hazır yufka</li>
      <li>1 Su bardağı yoğurt</li>
      <li>1 Yumurta</li>
      <li>1 Şişe maden suyu</li>
      <li>Karabiber</li>
      <li>Tuz</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Zeytinyağı ile soğanı kavurup sonrasında ıspanağı tavaya ekleyerek pişirin.</li>
      <li><b>2.</b> Tuz, karabiber ve toz kırmızı biberi ekleyin.</li>
      <li><b>3.</b> Pişirme kabını yağlayıp 2 parça hazır yufkayı üst üste açın.</li>
      <li><b>4.</b> Soğumuş olan ıspanak karışımını yufkanın içine dökün.</li>
      <li><b>5.</b> Üzerini 2 parça daha hazır yufka ile kapatıp dilimleyin.</li>
      <li><b>6.</b> Yoğurt, yumurta, maden suyu ve tuzu bir kapta karıştırıp yufkanın üzerine dökün.</li>
      <li><b>7.</b> 180°C'de yaklaşık 40 dakika pişirin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
     </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
