<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>


</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-a.jpg">
        <img class="recipe-photo" src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-b.jpg">
        <img class="recipe-photo" src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-c.jpg">
      <h4><b>Spinach Pastry</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>1 Onion</li>
      <li>1/2 kg Spinach</li>
      <li>3 Tbsp olive oil</li>
      <li>1 Tbsp ground red pepper</li>
      <li>4 Pieces ready-made dough</li>
      <li>1 Cup yoghurt</li>
      <li>1 Egg</li>
      <li>1 Bottle of mineral water</li>
      <li>Black pepper</li>
      <li>Salt</li>
      
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Roast the onion with olive oil and then add the spinach to the pan and cook.</li>
      <li><b>2.</b> Add salt, pepper and ground red pepper.</li>
      <li><b>3.</b> Lubricate the cooking pan and roll 2 pieces of ready-made dough on top of each other.</li>
      <li><b>4.</b> Pour the cooled spinach mixture on the ready-made dough.</li>
      <li><b>5.</b> Cover  it with 2 more pieces of ready-made dough then slice.</li>
      <li><b>6.</b> Mix the yoghurt, egg, mineral water and salt in a bowl and pour over the dough.</li>
      <li><b>7.</b> Bake for about 40 minutes at 180°C (350°F).</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
