<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-a.jpg">
        <img class="recipe-photo" src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-b.jpg">
        <img class="recipe-photo" src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-c.jpg">
      <h4><b>Milky Mushroom Soup</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>1 Pack (400 gr) mushrooms</li>
      <li>1 Tbsp butter</li>
      <li>1 Tbsp olive oil</li>
      <li>3 Tbsp flour</li>
      <li>1 Cup milk</li>
      <li>4 Cups water</li>
      <li>Black pepper</li>
      <li>Salt</li>
  </p>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- yatay görüntülü -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="6558414810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Mix olive oil and butter in a pot.</li>
      <li><b>2.</b> Add the flour and fry.</li>
      <li><b>3.</b> Add 1 cup of milk slowly and stir constantly.</li>
      <li><b>4.</b> Add chopped mushrooms, water, salt, pepper and cook it until boiled.</li>
      <li><b>5.</b> After the soup has boiled, turn the fire down and wait another 5 minutes then serve.</li>
  </div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
