<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>


</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-a.jpg">
        <img class="recipe-photo" src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-b.jpg">
        <img class="recipe-photo" src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-c.jpg">
      <h4><b>Sütlü Mantar Çorbası</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>1 Paket (400 gr) mantar</li>
      <li>1 Yemek kaşığı tereyağı</li>
      <li>1 Yemek kaşığı zeytinyağı</li>
      <li>3 Yemek kaşığı un</li>
      <li>1 Su bardağı süt</li>
      <li>4 Su bardağı su</li>
      <li>Karabiber</li>
      <li>Tuz</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Bir tencerede zeytinyağı ve tereyağını karıştırın.</li>
      <li><b>2.</b> Unu ekleyip kavurun.</li>
      <li><b>3.</b> Üzerine 1 su bardağı sütü yavaş yavaş ve sürekli karıştırarak ilave edin.</li>
      <li><b>4.</b> Doğranmış mantarları tencereye ekleyin. Su, tuz ve karabiberi de ekleyerek kaynayana kadar pişirin.</li>
      <li><b>5.</b> Çorba kaynadıktan sonra altını kısarak 5 dakika daha bekleyin ve servis edin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
