<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header2}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/15-roast-beef-ribs/roast-beef-ribs-a.jpg">
        <img class="recipe-photo" src="/ins/15-roast-beef-ribs/roast-beef-ribs-b.jpg">
        <img class="recipe-photo" src="/ins/15-roast-beef-ribs/roast-beef-ribs-c.jpg">
      <h4><b>Dana Kaburga</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>500 gr Dana kaburga</li>
      <li>3 Diş sarımsak</li>
      <li>3 Yemek kaşığı zeytinyağı</li>
      <li>1/2 Paket (200 gr) mantar</li>
      <li>1 Yemek kaşığı bal</li>
      <li>10 Adet çiğ badem</li>
      <li>Kırmızı toz biber</li>
      <li>Karabiber</li>
      <li>3 Adet defne yaprağı</li>
      <li>Biberiye</li>
      <li>Kimyon</li>
      <li>Kekik</li>
      <li>Tuz</li>
      <li>Yağlı kağıt</li>
  </p>
  </div>

  <!-- reklam -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="+1y+s2+1m-5w+4a"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="2810741497"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Dana kaburgayı 2 yemek kaşığı zeytinyağı, sarımsak, kekik, kırmızı toz biber, karabiber, tuz ve kimyonla marine edip 30 dakika dinlendirin.</li>
      <li><b>2.</b> Eti fırına vermeden önce üzerine 1 yemek kaşığı bal ve 1 yemek kaşığı zeytinyağını karıştırıp sürün.</li>
      <li><b>3.</b> Kaba defne yapraklarını ve biberiyeyi ekledikten sonra ıslatılmış yağlı kağıtla üzerini kapatın.</li>
      <li><b>4.</b> Üzeri kapalıyken 150°C'de 1 saat 15 dakika pişirin.</li>
      <li><b>5.</b> Yağlı kağıdı üzerinden alıp 170°C'de 1 saat daha pişirin.</li>
      <li><b>6.</b> Son 30 dakikada doğranmış mantarları ve bademleri kaba ekleyip pişirin.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
