<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/15-roast-beef-ribs/roast-beef-ribs-a.jpg">
        <img class="recipe-photo" src="/ins/15-roast-beef-ribs/roast-beef-ribs-b.jpg">
        <img class="recipe-photo" src="/ins/15-roast-beef-ribs/roast-beef-ribs-c.jpg">
      <h4><b>Roast Beef Ribs</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>500 gr Beef ribs</li>
      <li>3 Garlic cloves</li>
      <li>3 Tbsp olive oil</li>
      <li>1/2 Package (200 gr) mushrooms</li>
      <li>1 Tbsp honey</li>
      <li>10 Raw almonds</li>
      <li>Ground red pepper</li>
      <li>Black pepper</li>
      <li>Rosemary</li>
      <li>3 Bay leaves</li>
      <li>Cumin</li>
      <li>Thyme</li>
      <li>Salt</li>
      <li>Baking paper</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Marinate the beef ribs with 2 tbsp olive oil, garlic, thyme, red pepper, black pepper, salt and cumin and rest for 30 minutes.</li>
      <li><b>2.</b> After mixing 1 tbsp honey and 1 tbsp olive oil then rub it to the meat.</li>
      <li><b>3.</b> Add bay leaves and rosemary and cover it with moistened baking paper and put it in the oven.</li>
      <li><b>4.</b> Bake at 150째C (300째F) for 1 hour 15 minutes.</li>
      <li><b>5.</b> Take the baking paper and bake for another 1 hour at 170째C (340째F).</li>
      <li><b>6.</b> Add chopped mushrooms to the bowl in last 30 minutes.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
