<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/17-stuffed-peppers/stuffed-peppers-a.jpg">
        <img class="recipe-photo" src="/ins/17-stuffed-peppers/stuffed-peppers-b.jpg">
        <img class="recipe-photo" src="/ins/17-stuffed-peppers/stuffed-peppers-c.jpg">
      <h4><b>Stuffed Peppers</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>8 Medium bell peppers</li>
      <li>12 Tbsp whole wheat rice</li>
      <li>2 Sprigs of spring onions</li>
      <li>1 Hot pepper</li>
      <li>1 Tbsp tomato paste</li>
      <li>1/2 Tbsp of pepper paste</li>
      <li>1/4 Bunch of parsley</li>
      <li>1/4 Bunch of fresh thyme</li>
      <li>1/4 Bunch of dill</li>
      <li>4 Tbsp of olive oil</li>
      <li>2 Tsp black pepper</li>
      <li>Water</li>
      <li>Salt</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Cut the peppers as in the photo and clean the beans inside.</li>
      <li><b>2.</b> Mix rice, tomato paste, pepper paste, olive oil, salt and pepper in a bowl.</li>
      <li><b>3.</b> Add chopped hot pepper, parsley, fresh thyme, dill and spring onion to the mixture.</li>
      <li><b>4.</b> Fill the mixture in half of the peppers.</li>
      <li><b>5.</b> Put the peppers into the pot.</li>
      <li><b>6.</b> Fill the pepper with hot water.</li>
      <li><b>7.</b> Add hot water to the pot halfway to the peppers.</li>
      <li><b>8.</b> Cook on low heat for about half an hour.</li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
