<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>
</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/18-chicken-broth-soup/chicken-broth-soup-a.jpg">
        <img class="recipe-photo" src="/ins/18-chicken-broth-soup/chicken-broth-soup-b.jpg">
      <h4><b>Chicken Broth Soup</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>800 ml Chicken broth</li>
      <li>1 Tbsp whole wheat flour</li>
      <li>1 Tbsp olive oil</li>
      <li>2 Tbsp dried mint</li>
      <li>1/2 Tbsp of turmeric</li>
      <li>1 Tsp black pepper</li>
      <li>1/2 cup noodle</li>
      <li>Half a lemon juice</li>
      <li>Salt</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Roast the flour with olive oil in a saucepan.</li>
      <li><b>2.</b> Add chicken broth and noodles then mix.</li>
      <li><b>3.</b> Add salt, mint, black pepper and turmeric.</li>
      <li><b>4.</b> Add the lemon juice to the soup.</li>
      <li><b>5.</b> After boiling, cook on low heat for 10 minutes and serve.</li>
    
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
