<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/20-cherry-tomato-egg/cherry-tomato-egg-a.jpg">
        <img class="recipe-photo" src="/ins/20-cherry-tomato-egg/cherry-tomato-egg-b.jpg">
      <h4><b>Cherry Tomato Egg</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>7 Cherry tomatoes</li>
      <li>1/2 Cup grated tomatoes</li>
      <li>2 Peppers</li>
      <li>1 Tbsp olive oil</li>
      <li>1/2 Tbsp butter</li>
      <li>3 Medium sized eggs</li>
      <li>1 Tsp ground red pepper</li>
      <li>1/2 Tsp black pepper</li>
      <li>Salt</li>
  </p>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- yatay görüntülü -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="6558414810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Melt the olive oil and butter in a pan.</li>
      <li><b>2.</b> Chop the peppers and cook them in oil.</li>
      <li><b>3.</b> Add the grated tomato, black pepper, red pepper and salt and mix.</li>
      <li><b>4.</b> Add the cherry tomatoes that you have cut in the middle and turn them slightly.</li>
      <li><b>5.</b> Beat 3 eggs in a separate bowl.</li>
      <li><b>6.</b> Add the eggs to the pan, cook and serve.</li>
    
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
