<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header2}}

 
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/21-ispanakli-penne/ispanakli-penne-a.jpg">
        <img class="recipe-photo" src="/ins/21-ispanakli-penne/ispanakli-penne-b.jpg">
      <h4><b>Ispanaklı Kalem Makarna</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>1/2 Paket (250 gr) tam buğday kalem makarna</li>
      <li>Yarım bağ ıspanak (150 gr)</li>
      <li>2 Diş sarımsak</li>
      <li>1 Küçük boy soğan</li>
      <li>3 Yemek kaşığı zeytinyağı</li>
      <li>1 Çay kaşığı karabiber</li>
      <li>Tuz</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Makarnaları haşlayıp süzün.</li>
      <li><b>2.</b> Bir tavada sarımsak ve soğanı zeytinyağı ile kavurun.</li>
      <li><b>3.</b> Doğranmış ıspanak, karabiber ve tuzu ekleyin.</li>
      <li><b>4.</b> Karışıma makarnaları ekleyip karıştırdıktan sonra servis edin.</li>
   
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
