<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/21-spinach-penne/spinach-penne-a.jpg">
        <img class="recipe-photo" src="/ins/21-spinach-penne/spinach-penne-b.jpg">
      <h4><b>Spinach Penne</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>1/2 Package (250 gr) whole wheat penne</li>
      <li>Half a vineyard  spinach (150 gr)</li>
      <li>2 Garlic cloves</li>
      <li>1 Small onion</li>
      <li>3 Tbsp olive oil</li>
      <li>1 Tsp black pepper</li>
      <li>Salt</li>
  </p>
  </div>

  <!-- reklam -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="+1y+s2+1m-5w+4a"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="2810741497"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Boil the pasta and drain.</li>
      <li><b>2.</b> Fry the garlic and onion with olive oil in a pan.</li>
      <li><b>3.</b> Add chopped spinach,  black pepper and salt.</li>
      <li><b>4.</b> Add the penne into the mixture and serve after mixing.</li>
    
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
