<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-a.jpg">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-b.jpg">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-c.jpg">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-d.jpg">
      <h4><b>Colorful Eggplant</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li>2 Bell eggplants</li>
      <li>1 Cup boiled peas</li>
      <li>4-5 Cherry tomatoes</li>
      <li>2 Carrots</li>
      <li>100 gr Ground meat</li>
      <li>6 Tbsp olive oil</li>
      <li>4 Tsp black pepper</li>
      <li>2 Tsp ground red pepper</li>
      <li>4 Tbsp  rice pilaf</li>
      <li>Salt</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li><b>1.</b> Firstly cut the eggplants in half then cut them as shown in the picture.</li>
      <li><b>2.</b> Pour 1 tbsp olive oil and half a tsp black pepper on each half of eggplants.</li>
      <li><b>3.</b> Bake the eggplants in the oven at 180°C (350°F)  for about 40 minutes.</li>
      <li><b>4.</b> Roast ground beef in 1 tbsp olive oil with 2 tsp black pepper and a little salt.</li>
      <li><b>5.</b> Sauté divided tomatoes, chopped carrots and boiled peas in 1 tbsp olive oil.</li>
      <li><b>6.</b> Put the pilaf, tomatoes, carrots, peas and ground red pepper on the eggplants and serve.</li> 
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
