<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header2}}

 
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-a.jpg">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-b.jpg">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-c.jpg">
        <img class="recipe-photo" src="/ins/23-colorful-eggplant/colorful-eggplant-d.jpg">
      <h4><b>Renkli Patlıcan</b></h4>
      
      <div class="text-left">
<p class="title"><b>MALZEMELER:</b></p>
   <p>
      <li>2 Adet bostan patlıcanı</li>
      <li>1 Su bardağı haşlanmış bezelye</li>
      <li>4-5 Adet kiraz domates</li>
      <li>2 Adet havuç</li>
      <li>100 gr dana kıyma</li>
      <li>4 Yemek kaşığı pirinç pilavı</li>
      <li>6 Yemek kaşığı zeytinyağı</li>
      <li>4 Çay kaşığı karabiber</li>
      <li>2 Çay kaşığı kırmızı toz biber</li>
      <li>Tuz</li>
  </p>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>HAZIRLANIŞ:</b></p>
      <li><b>1.</b> Patlıcanları ortadan ikiye bölün ve resimde görüldüğü gibi kesin.</li>
      <li><b>2.</b> Her yarım patlıcan üzerine 1 yemek kaşığı zeytinyağı ile yarım çay kaşığı karabiberi gezdirin.</li>
      <li><b>3.</b> Patlıcanları fırında 180°C'de yaklaşık 40 dakika pişirin.</li>
      <li><b>4.</b> 1 Yemek kaşığı zeytinyağında kıymaları 2 çay kaşığı karabiber ve biraz tuzla kavurun.</li>
      <li><b>5.</b> 2'ye bölünmüş domatesleri, doğranmış havuçları ve haşlanmış bezelyeleri 1 yemek kaşığı zeytinyağında soteleyin.</li>
      <li><b>6.</b> Patlıcanların üzerine pilavı, domatesi, havucu, bezelyeyi ve kırmızı toz biberi koyarak servis edin.</li>
   
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>AFİYET OLSUN!</b><span style='font-size:20px;'>&#128155;</span></p>
    </div>
  </div>
  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
