<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ec5097156ae29001991fd85&product=sticky-share-buttons&cms=website' async='async'></script>

</head>
<body>
 {{>header}}

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center top-push">
    <div class="w3-padding-64 w3-center">
        <img class="recipe-photo" src="/ins/26-lemon-almond-cake/limonlu-bademli-kek-a.jpg">
        <img class="recipe-photo" src="/ins/26-lemon-almond-cake/limonlu-bademli-kek-b.jpg">
        <img class="recipe-photo" src="/ins/26-lemon-almond-cake/limonlu-bademli-kek-c.jpg">
        <img class="recipe-photo" src="/ins/26-lemon-almond-cake/limonlu-bademli-kek-d.jpg">
      <h4><b>Lemon Almond Cake</b></h4>
      
      <div class="text-left">
<p class="title"><b>INGREDIENTS:</b></p>
   <p>
      <li> 2 Eggs </li>
      <li> 2 Cups (200 gr) flour </li>
      <li> 1 Cup sugar </li>
      <li> Half cup of oil </li>
      <li> 1 Cup (200 gr) yogurt </li>
      <li> 1 Pack of Baking Powder (10 gr)</li>
      <li> 1 Pack of vanilla (5 gr)</li>
      <li> 1 Tbsp lemon juice </li>
      <li> 1 Lemon zest </li>
      <li> 3 Tbsp black mulberry jam </li>
      <li> 1 Handful of almonds </li>
  </p>
  </div>

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


  <div class="row">
    <div class="col-md-3"></div>
  <div class="text-left col-sm-12 col-md-6">
      <p class="title"><b>PREPARATION:</b></p>
      <li> <b> 1. </b> Whisk the eggs and sugar well. </li>
      <li> <b> 2. </b> Add yogurt and oil and keep whisking. </li>
      <li> <b> 3. </b> Sift the flour and add it to the mixture. </li>
      <li> <b> 4. </b> Add the baking powder, vanilla, lemon juice, lemon zest and mix. </li>
      <li> <b> 5. </b> After pouring half of the mixture into the oiled container, spread the black mulberry jam on it. </li>
      <li> <b> 6. </b> Pour the remaining mixture over it and decorate with chopped almonds. </li>
      <li> <b> 7. </b> Bake for 35-40 minutes in the oven that you previously heated to 180°C (350°F). </li>
</div>
<div class="col-md-3"></div>
</div>
<br>
      <p><b>BON APPETIT!</b><span style='font-size:20px;'>&#128155;</span></p>
    

    </div>
  </div>
  
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

      
</body>
</html>
