<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header}}

  <hr id="about">
  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center" style="flex: 1; margin-top: 40px">  
    <h3>Welcome to My Kitchen!</h3><br>
    <img src="/img/about_me.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32 about-explain">
      <h4><b>I love cooking!</b></h4>
      <h6><i>With Passion For Delicious and Nutritious Food</i></h6>
      <p>Hi! I am Ezgi, who has been cooking for a long time. I enjoy exploring new recipes, creating, adding something from my heart, and then serving them.</p>
      <p>I am an architect and all of the creations that you can find on this website come from my taste, research, and creativity.</p>
      <p>I have also been working on web development by writing codes for a while. This website is created by me from scratch to the end.</p>
      <hr>
      <p>I want to share my kitchen life with you. Maybe more... Hope you like my recipes and try them.</p>
      <p>Keep in touch. <span style='font-size:60px;'>&#127758;</span></p>
      <button class="contact"><a href="/contact">Contact</a></button>
    </div>
  </div>
 
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
