<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header2}}


  <!-- Gizlilik Politikası -->
  <div class="w3-container w3-padding-32 w3-center" style="margin-top: 40px;flex: 1">  
    <div class="w3-padding-32 about-explain text-left">
      <h4><b>Gizlilik Politikası</b></h4>
      <p>Ezgi in the kitchen web sitesinde bulunan içerikler özgündür ve bu nedenle izinsiz olarak kesinlikle paylaşılamaz.</p>
      <p>Bu web sitesinde bulunduğunuz sürede ‘cookie’ çerezlerin ve buna benzer unsurların bilgisayarınıza yerleştirilmesi söz konusu olabilir.</p>
      <p>Bunlar metin dosyalarından ibaret olup özel bilgiler içermez. Ezgi in the kitchen için oturum açıp bilgilerinizi paylaşmanız gerekmez.</p>
      <p>Bu web sitesini ziyaretiniz esnasında IP adresiniz ve tarayıcınızın sağladığı genel veriler anonim olarak kaydedilebilir.</p>
      <p>Siteye giren ziyaretçiler burada açıklanan bilgileri kabul etmiş sayılır.</p>  

      <h4><b>Hak ve Yükümlülükler</b></h4>  
      <p>Ezgi in the kitchen kullanım koşullarını önceden bildirmeksizin değiştirebileceği için belli aralıklarla kullanım koşullarını incelemenizi öneririz.</p>
      <p>Bu web sitesi tüm unsurları önceden haber vermeksizin değiştirme, sona erdirme, yenilerini ekleme, ücretlendirme haklarını saklı tutmaktadır.</p>
      <p>Bu web sitesi gerekli gördüğü takdirde IP numaralarının veya IP bloklarının siteye erişimini geçici veya kalıcı olarak durdurma hakkını saklı tutar.</p>
      <p>Ezgi in the kitchen zararlı içerik içermese de gelişen teknoloji, teknik sorun ve diğer nedenlerle bilgisayarınıza zararlı yazılımlar bulaşabilir.</p>
      <p>Bunu önlemek için antivirüs programları kullanmanızı öneririz. Web sitemizde gezinme sırasında oluşabilecek yazımsal ve donanımsal zarara ilişkin sorumluluk kabul edilmemektedir.</p>
      <p>Bu açıklamalarla birlikte web sitemizden talepte bulunmayacağınızı peşinen kabul etmiş olursunuz.</p>
    </div>
  </div>
  
{{>footer2}}

<!-- End page content -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>

