<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header2}}

  

  
  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center" style="flex: 1; margin-top: 40px">  
    <div class="w3-padding-32 about-explain">
      <h4><b>Merhaba!</b></h4>
      <p>Sosyal medya hesaplarımı ve e-mail adresimi aşağıda bulabilirsin.</p>
      <p>Desteğin için teşekkürler!<br><br><span style='font-size:20px;'>&#128155;</span></p>
      <br>   
      <p class="ezgiinthekitchen-contact"><b>ezgiinthekitchen</b></p>
      <br>
      <a class="insta-contact-color" href="https://www.instagram.com/ezgiinthekitchen/" target="instagram"><i class="fa fa-instagram fa-4x"></i></a>
        <a class="fb-contact-color" href="https://www.facebook.com/ezgiinthekitchen/" target="facebook"><i class="fa fa-facebook-square fa-4x"></i></a>
        <a class="youtube-contact-color" href="https://www.youtube.com/channel/UCVysBn4PIa5ch2NBf97glGw?view_as=subscriber" target="youtube"><i class="fa fa-youtube fa-4x"></i></a>
        <a class="mail-contact-color" href="mailto:ezgiinthekitchen@gmail.com" target="mail"><i class="fa fa-envelope-open fa-4x"></i></a>
    </div>
  </div>
  


<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>

