<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header}}

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;flex: 1;">


  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">

    <!--Cocoa Oatmeal -->
    <div class="w3-quarter">
      <div id="myCarousel-25" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-25" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-25" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/25-cocoa-oatmeal"><img src="/ins/25-cocoa-oatmeal/cocoa-oatmeal-a.jpg" alt="Cocoa Oatmeal" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/25-cocoa-oatmeal"><img src="/ins/25-cocoa-oatmeal/cocoa-oatmeal-b.jpg" alt="Cocoa Oatmeal" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-25" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-25" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Cocoa Oatmeal</h3>
      <p>Chocolate Taste</p>
    </div>

<!-- Reklam 1 kare -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="1485683002"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <!--Strawberry Ice-Cream -->
    <div class="w3-quarter">
      <div id="myCarousel-24" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-24" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-24" data-slide-to="1"></li>
        <li data-target="#myCarousel-24" data-slide-to="2"></li>
        <li data-target="#myCarousel-24" data-slide-to="3"></li>
        <li data-target="#myCarousel-24" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/24-strawberry-ice-cream"><img src="/ins/24-strawberry-ice-cream/strawberry-ice-cream-a.jpg" alt="Strawberry Ice-Cream" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/24-strawberry-ice-cream"><img src="/ins/24-strawberry-ice-cream/strawberry-ice-cream-b.jpg" alt="Strawberry Ice-Cream" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/24-strawberry-ice-cream"><img src="/ins/24-strawberry-ice-cream/strawberry-ice-cream-c.jpg" alt="Strawberry Ice-Cream" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/24-strawberry-ice-cream"><img src="/ins/24-strawberry-ice-cream/strawberry-ice-cream-d.jpg" alt="Strawberry Ice-Cream" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/24-strawberry-ice-cream"><img src="/ins/24-strawberry-ice-cream/strawberry-ice-cream-e.jpg" alt="Strawberry Ice-Cream" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-24" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-24" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Strawberry Ice Cream</h3>
      <p>Cold and Fresh</p>
    </div>

    <!--Colorful Eggplant -->
    <div class="w3-quarter">
      <div id="myCarousel-23" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-23" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-23" data-slide-to="1"></li>
        <li data-target="#myCarousel-23" data-slide-to="2"></li>
        <li data-target="#myCarousel-23" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/23-colorful-eggplant"><img src="/ins/23-colorful-eggplant/colorful-eggplant-a.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/23-colorful-eggplant"><img src="/ins/23-colorful-eggplant/colorful-eggplant-b.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/23-colorful-eggplant"><img src="/ins/23-colorful-eggplant/colorful-eggplant-c.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/23-colorful-eggplant"><img src="/ins/23-colorful-eggplant/colorful-eggplant-d.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-23" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-23" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Colorful Eggplant</h3>
      <p>Flavor Feast</p>
    </div>

    <!--Summer Time Oatmeal -->
    <div class="w3-quarter">
      <div id="myCarousel-22" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-22" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-22" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/22-summer-time-oatmeal"><img src="/ins/22-summer-time-oatmeal/summer-time-oatmeal-a.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/22-summer-time-oatmeal"><img src="/ins/22-summer-time-oatmeal/summer-time-oatmeal-b.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-22" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-22" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Summer Time Oatmeal</h3>
      <p>Peach Effect</p>
    </div>

</div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">

        <!--Spinach Penne -->
    <div class="w3-quarter">
      <div id="myCarousel-21" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-21" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-21" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/21-spinach-penne"><img src="/ins/21-spinach-penne/spinach-penne-a.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/21-spinach-penne"><img src="/ins/21-spinach-penne/spinach-penne-b.jpg" alt="Spinach Penne" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-21" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-21" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Spinach Penne</h3>
      <p>Quick Recipe</p>
    </div>

        <!--Cherry Tomato Egg -->
    <div class="w3-quarter">
      <div id="myCarousel-20" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-20" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-20" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/20-cherry-tomato-egg"><img src="/ins/20-cherry-tomato-egg/cherry-tomato-egg-a.jpg" alt="Cherry Tomato Egg" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/20-cherry-tomato-egg"><img src="/ins/20-cherry-tomato-egg/cherry-tomato-egg-b.jpg" alt="Cherry Tomato Egg" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-20" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-20" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Cherry Tomato Egg</h3>
      <p>Easy and Yummy</p>
    </div>

    <!--Spinach Oatmeal -->
    <div class="w3-quarter">
      <div id="myCarousel-19" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-19" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-19" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/19-spinach-oatmeal"><img src="/ins/19-spinach-oatmeal/spinach-oatmeal-a.jpg" alt="Spinach Oatmeal" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/19-spinach-oatmeal"><img src="/ins/19-spinach-oatmeal/spinach-oatmeal-b.jpg" alt="Spinach Oatmeal" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-19" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-19" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Spinach Oatmeal</h3>
      <p>Green Lovers</p>
    </div>

        <!--Chicken Broth Soup -->
    <div class="w3-quarter">
      <div id="myCarousel-18" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-18" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-18" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/18-chicken-broth-soup"><img src="/ins/18-chicken-broth-soup/chicken-broth-soup-a.jpg" alt="Chicken Broth Soup" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/18-chicken-broth-soup"><img src="/ins/18-chicken-broth-soup/chicken-broth-soup-b.jpg" alt="Chicken Broth Soup" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-18" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-18" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Chicken Broth Soup</h3>
      <p>Collagen Source</p>
    </div>



  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="/myrecipes" class="w3-bar-item w3-black w3-button">1</a>
      <a href="/myrecipes-page2" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="/myrecipes-page3" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="/myrecipes-page4" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="/myrecipes-page2" class="w3-bar-item w3-button w3-hover-black">»</a>
     </div>
    </div>
  </div>
</div>
{{>footer}}


<!-- End page content -->

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
