<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">
</head>
<body>
 {{>header}}


  <!-- Posts From You -->
  <div class="w3-container w3-padding-32 w3-center footer-bottom" style="flex: 1; margin-top: 40px">  
    
    
    <div class="w3-padding-64 about-explain">
      
     <h3>Posts From You!</h3><br>
      <p>Hi! If you try my recipes then tag me on Instagram and Facebook. I will share your posts on this page with your name.</p>
      <p>Look forward to hear from you!</p>
      
      <p>Keep in touch. <span style='font-size:60px;'>&#127758;</span></p>
      <button class="contact"><a href="/contact">Contact</a></button>
    </div>
  </div>
 
  
{{>footer}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
