<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header}}


  <!-- Privacy Policy -->
  <div class="w3-container w3-padding-32 w3-center" style="margin-top: 40px;flex: 1">  
    <div class="w3-padding-32 about-explain text-left">
      <h4><b>Privacy Policy</b></h4>
      <p>The content of the Ezgi in the kitchen website is unique, therefore cannot be shared without permission.</p>
      <p>Cookies and similar items may be placed on your computer while you are on the this website.</p>
      <p>These are the text files and do not contain private information. You do not log in and share your information for Ezgi in the kitchen.</p>
      <p>During your visit to this website, your IP address and general data provided by your browser could be recorded anonymously.</p>
      <p>Visitors entering the site are deemed to have accepted the information described here.</p>  

      <h4><b>Rights and Obligations</b></h4>  
      <p>We recommend that you review the terms of use periodically, as Ezgi in the kitchen may change the terms of use without notice. </p>
      <p>This website reserves the right to change, terminate, add new ones, and charge all elements without prior notice.</p>
      <p>Ezgi in the kitchen reserves the right to temporarily or permanently stop accessing to the IP numbers or blocks to the site if it deems necessary.</p>
      <p>Although this website does not contain harmful content, it may infect your computer with malicious technology, technical problems, and other reasons.</p>
      <p>We recommend using antivirus programs to prevent this. We do not accept any liability for any software or hardware damage that may occur while browsing our website. </p>
      <p>For these reasons, you acknowledge in advance that you will not request from our website with these explanations.</p>
    </div>
  </div>
  

{{>footer}}

<!-- End page content -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>

