<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header2}}

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;flex: 1;">
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">

            <!--Double sauced cake -->
    <div class="w3-quarter">
      <div id="myCarousel-7" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-7" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-7" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/07-cift-soslu-kek"><img src="/ins/07-double-sauced-cake/double-sauced-cake-a.jpg" alt="Cake Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/07-cift-soslu-kek"><img src="/ins/07-double-sauced-cake/double-sauced-cake-b.jpg" alt="Cake Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-7" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-7" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Çift Soslu Kek</h3>
      <p>Kim Hayır Diyebilir ki?</p>
      </div>

          <!--Green Lent Sauce -->
    <div class="w3-quarter">
      <div id="myCarousel-8" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-8" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-8" data-slide-to="1"></li>
      <li data-target="#myCarousel-8" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/08-yesil-mercimek-sosu"><img src="/ins/08-green-lentil-sauce/green-lentil-sauce-a.jpg" alt="Green Lentil Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/08-yesil-mercimek-sosu"><img src="/ins/08-green-lentil-sauce/green-lentil-sauce-b.jpg" alt="Green Lentil Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/08-yesil-mercimek-sosu"><img src="/ins/08-green-lentil-sauce/green-lentil-sauce-c.jpg" alt="Green Lentil Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-8" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-8" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      <h3>Yeşil Mercimek Sosu</h3>
      <p>Yeşil Gün Rüyası</p>
    </div>

        <!--Rainbow Wrap-->
    <div class="w3-quarter">
      <div id="myCarousel-09" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-09" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-09" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/09-gokkusagi-durum"><img src="/ins/09-rainbow-wrap/rainbow-wrap-a.jpg" alt="Food Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/09-gokkusagi-durum"><img src="/ins/09-rainbow-wrap/rainbow-wrap-b.jpg" alt="Food Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-09" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-09" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Gökkuşağı Dürüm</h3>
      <p>Yeşil Mercimek Sosuyla</p>
    </div>

   <!-- Apple Oatmeal-->
   <div class="w3-quarter">
      <div id="myCarousel-10" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-10" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-10" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/10-elmali-yulaf-ezmesi"><img src="/ins/10-apple-oatmeal/apple-oatmeal-a.jpg" alt="Apple Oatmeal Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/10-elmali-yulaf-ezmesi"><img src="/ins/10-apple-oatmeal/apple-oatmeal-b.jpg" alt="Apple Oatmeal Recipe" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-10" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-10" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Elmalı Yulaf Ezmesi</h3>
      <p>Çikolatalı Tahin Etkisi</p>
    </div>
  
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- yatay görüntülü -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="6558414810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">

        <!-- Rainbow Salad-->

    <div class="w3-quarter">

      <div id="myCarousel-11" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-11" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-11" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/11-gokkusagi-salata"><img src="/ins/11-rainbow-salad/rainbow-salad-a.jpg" alt="Rainbow Salad Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/11-gokkusagi-salata"><img src="/ins/11-rainbow-salad/rainbow-salad-b.jpg" alt="Rainbow Salad Recipe" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-11" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-11" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Gökkuşağı Salatası</h3>
      <p>Antioksidan Bombası</p>
    </div>

            <!-- One Pot Spaghetti -->
<div class="w3-quarter">

      <div id="myCarousel-12" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-12" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-12" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/12-tek-kap-spagetti"><img src="/ins/12-one-pot-spaghetti/one-pot-spaghetti-a.jpg" alt="Spaghetti Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/12-tek-kap-spagetti"><img src="/ins/12-one-pot-spaghetti/one-pot-spaghetti-b.jpg" alt="Spaghetti Recipe" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-12" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-12" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Tek Kap Spagetti</h3>
      <p>Parlak Renkler</p>
    </div>

    <!-- Pastry Filled with Spinach-->
<div class="w3-quarter">

      <div id="myCarousel-13" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-13" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-13" data-slide-to="1"></li>
      <li data-target="#myCarousel-13" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/13-ispanakli-borek"><img src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-a.jpg" alt="Ispanakli Borek Tarifi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/13-ispanakli-borek"><img src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-b.jpg" alt="Ispanakli Borek Tarifi" style="width:100%;"></a>
      </div>

       <div class="item">
        <a href="/13-ispanakli-borek"><img src="/ins/13-pastry-filled-with-spinach/pastry-filled-with-spinach-c.jpg" alt="Ispanakli Borek Tarifi" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-13" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-13" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Ispanaklı Börek</h3>
      <p>Çok Lezzetli</p>
    </div>

  <!-- Milky Mushroom Soup -->
<div class="w3-quarter">
  <div id="myCarousel-14" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-14" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-14" data-slide-to="1"></li>
      <li data-target="#myCarousel-14" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/14-sutlu-mantar-corbasi"><img src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-a.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/14-sutlu-mantar-corbasi"><img src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-b.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>

       <div class="item">
        <a href="/14-sutlu-mantar-corbasi"><img src="/ins/14-milky-mushroom-soup/milky-mushroom-soup-c.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-14" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-14" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Sütlü Mantar Çorbası</h3>
      <p>Mor Bir Dokunuşla</p>
    </div>

</div>


  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="/tariflerim-sayfa2" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="/tariflerim" class="w3-bar-item w3-button w3-hover-black">1</a>
      <a href="/tariflerim-sayfa2" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="/tariflerim-sayfa3" class="w3-bar-item w3-black w3-button">3</a>
      <a href="/tariflerim-sayfa4" class="w3-bar-item w3-button w3-button">4</a>
      <a href="/tariflerim-sayfa4" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>
   </div>

{{>footer2}}
 

<!-- End page content -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
