<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header2}}

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;flex: 1;">
  
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">

            <!-- Beef Ribs -->
    <div class="w3-quarter">
      <div id="myCarousel-15" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-15" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-15" data-slide-to="1"></li>
      <li data-target="#myCarousel-15" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/15-dana-kaburga"><img src="/ins/15-roast-beef-ribs/roast-beef-ribs-a.jpg" alt="Roast Beef Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/15-dana-kaburga"><img src="/ins/15-roast-beef-ribs/roast-beef-ribs-b.jpg" alt="Roast Beef Recipe" style="width:100%;"></a>
      </div>

       <div class="item">
        <a href="/15-dana-kaburga"><img src="/ins/15-roast-beef-ribs/roast-beef-ribs-c.jpg" alt="Roast Beef Recipe" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-15" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-15" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Dana Kaburga</h3>
      <p>Özel Geceler için Mükemmel</p>
    </div>

<!-- Zucchini patty -->
<div class="w3-quarter">
  <div id="myCarousel-16" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-16" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-16" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/16-kabak-mucver"><img src="/ins/16-zucchini-patty/zucchini-patty-a.jpg" alt="Mucver Tarifi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/16-kabak-mucver"><img src="/ins/16-zucchini-patty/zucchini-patty-b.jpg" alt="Mucver Tarifi" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-16" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-16" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Kabak Mücver</h3>
      <p>Geleneksel Bir Tarif</p>
    </div>

</div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- yatay görüntülü -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="6558414810"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="/tariflerim-sayfa3" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="/tariflerim" class="w3-bar-item w3-button w3-hover-black">1</a>
      <a href="/tariflerim-sayfa2" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="/tariflerim-sayfa3" class="w3-bar-item w3-button w3-button">3</a>
      <a href="/tariflerim-sayfa4" class="w3-bar-item w3-black w3-button">4</a>
      </div>
    </div>
   </div>

{{>footer2}}
 

<!-- End page content -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
