<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

</head>
<body>
 {{>header2}}

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;flex: 1;">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">

       <!--Stuffed Peppers -->
    <div class="w3-quarter">
      <div id="myCarousel-17" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-17" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-17" data-slide-to="1"></li>
          <li data-target="#myCarousel-17" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/17-biber-dolmasi"><img src="/ins/17-stuffed-peppers/stuffed-peppers-a.jpg" alt="Biber Dolmasi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/17-stuffed-peppers"><img src="/ins/17-stuffed-peppers/stuffed-peppers-b.jpg" alt="Stuffed-peppers" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/17-stuffed-peppers"><img src="/ins/17-stuffed-peppers/stuffed-peppers-c.jpg" alt="Dereotlu Pogaca Tarifi" style="width:100%;"></a>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-17" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-17" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Biber Dolması</h3>
      <p>Zeytinyağlı</p>
    </div>

     <!-- reklam -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="+1y+s2+1m-5w+4a"
     data-ad-client="ca-pub-7389559910436928"
     data-ad-slot="2810741497"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

        <!-- Nefis Mantar Kasesi -->

   <div class="w3-quarter">
   <div id="myCarousel-1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-1" data-slide-to="1"></li>
      <li data-target="#myCarousel-1" data-slide-to="2"></li>
      <li data-target="#myCarousel-1" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/01-nefis-mantar-kasesi"><img src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-a.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/01-nefis-mantar-kasesi"><img src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-b.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/01-nefis-mantar-kasesi"><img src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-c.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/01-nefis-mantar-kasesi"><img src="/ins/01-yummy-mushroom-bowl/yummy-mushroom-bowl-d.jpg" alt="Mushroom Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-1" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-1" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Nefis Mantar Kasesi</h3>
      <p>Fesleğen ve Soya Soslu</p>
    </div>

   <!-- Kırmızı Biber Sosu -->

   <div class="w3-quarter">
   <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-2" data-slide-to="1"></li>
      <li data-target="#myCarousel-2" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/02-kirmizi-biber-sosu"><img src="/ins/02-red-pepper-sauce/red-pepper-sauce-a.jpg" alt="Red Pepper Sauce Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/02-kirmizi-biber-sosu"><img src="/ins/02-red-pepper-sauce/red-pepper-sauce-b.jpg" alt="Red Pepper Sauce Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/02-kirmizi-biber-sosu"><img src="/ins/02-red-pepper-sauce/red-pepper-sauce-c.jpg" alt="Red Pepper Sauce Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-2" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-2" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Kırmızı Biber Sosu</h3>
      <p>Mükemmel Sabahlar</p>
    </div>

<!-- Strawberry Oatmeal -->

<div class="w3-quarter">
    <div id="myCarousel-3" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-3" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-3" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/03-cilekli-yulaf-ezmesi"><img src="/ins/03-strawberry-oatmeal/strawberry-oatmeal-a.jpg" alt="Strawberry Oatmeal Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/03-cilekli-yulaf-ezmesi"><img src="/ins/03-strawberry-oatmeal/strawberry-oatmeal-b.jpg" alt="Strawberry Oatmeal Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-3" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-3" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Çilekli Yulaf Ezmesi</h3>
      <p>Pembemsi Bir Hileyle</p>
    </div>

  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">

           <!--Buns with Dill -->
    <div class="w3-quarter">
      <div id="myCarousel-4" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-4" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel-4" data-slide-to="1"></li>
          <li data-target="#myCarousel-4" data-slide-to="2"></li>
            <li data-target="#myCarousel-4" data-slide-to="3"></li>
              <li data-target="#myCarousel-4" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/04-dereotlu-pogaca"><img src="/ins/04-buns-with-dill/buns-with-dill-a.jpg" alt="Dereotlu Pogaca Tarifi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/04-dereotlu-pogaca"><img src="/ins/04-buns-with-dill/buns-with-dill-b.jpg" alt="Dereotlu Pogaca Tarifi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/04-dereotlu-pogaca"><img src="/ins/04-buns-with-dill/buns-with-dill-c.jpg" alt="Dereotlu Pogaca Tarifi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/04-dereotlu-pogaca"><img src="/ins/04-buns-with-dill/buns-with-dill-d.jpg" alt="Dereotlu Pogaca Tarifi" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/04-dereotlu-pogaca"><img src="/ins/04-buns-with-dill/buns-with-dill-e.jpg" alt="Dereotlu Pogaca Tarifi" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-4" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-4" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Dereotlu Poğaça</h3>
      <p>Harika Lezzet ve Koku</p>
    </div>

           <!-- Spring Pasta -->
    <div class="w3-quarter">
       <div id="myCarousel-5" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-5" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-5" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/05-bahar-makarnasi"><img src="/ins/05-spring-pasta/spring-pasta-a.jpg" alt="Pasta Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/05-bahar-makarnasi"><img src="/ins/05-spring-pasta/spring-pasta-b.jpg" alt="Pasta Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-5" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-5" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Bahar Makarnası</h3>
      <p>Gökkuşağı Gibi!</p>
     </div>

    <!--Cute chia pudding -->
    <div class="w3-quarter">
    <div id="myCarousel-6" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-6" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-6" data-slide-to="1"></li>
      <li data-target="#myCarousel-6" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/06-tatli-chia-puding"><img src="/ins/06-cute-chia-pudding/cute-chia-pudding-a.jpg" alt="Chia Pudding Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/06-tatli-chia-puding"><img src="/ins/06-cute-chia-pudding/cute-chia-pudding-b.jpg" alt="Chia Pudding Recipe" style="width:100%;"></a>
      </div>
    
      <div class="item">
        <a href="/06-tatli-chia-puding"><img src="/ins/06-cute-chia-pudding/cute-chia-pudding-c.jpg" alt="Chia Pudding Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-6" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-6" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Tatlı Chia Puding</h3>
      <p>Çilek için Baloncuklar</p>
    </div>

        <!--Double sauced cake -->
    <div class="w3-quarter">
      <div id="myCarousel-7" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel-7" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel-7" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="/07-cift-soslu-kek"><img src="/ins/07-double-sauced-cake/double-sauced-cake-a.jpg" alt="Cake Recipe" style="width:100%;"></a>
      </div>

      <div class="item">
        <a href="/07-cift-soslu-kek"><img src="/ins/07-double-sauced-cake/double-sauced-cake-b.jpg" alt="Cake Recipe" style="width:100%;"></a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-7" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-7" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel end -->
      <h3>Çift Soslu Kek</h3>
      <p>Kim Hayır Diyebilir ki?</p>
      </div>

  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="/tariflerim" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="/tariflerim" class="w3-bar-item w3-button w3-hover-black">1</a>
      <a href="/tariflerim-sayfa2" class="w3-bar-item w3-black w3-button">2</a>
      <a href="/tariflerim-sayfa3" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="/tariflerim-sayfa4" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="/tariflerim-sayfa3" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>
   </div>
{{>footer2}}
 

<!-- End page content -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
