<!DOCTYPE html>
<html>
  <head>
<title>ezgiinthekitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/64.png">

<script data-ad-client="ca-pub-7389559910436928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
 {{>header2}}

  <!-- Posts From You -->
  <div class="w3-container w3-padding-32 w3-center footer-bottom" style="flex: 1; margin-top: 40px">  
    <div class="w3-padding-64 about-explain">
      <br> <br> <br>
      <p>Blog yazılarımı çok yakında burada bulabilirsin!</p>
      
      <p>Temasta kalalım. <span style='font-size:60px;'>&#127758;</span></p>
      <button class="contact"><a href="/iletisim">İletişim</a></button>
    </div>
  </div>
 <br> <br> <br>  <br> <br>  
  
{{>footer2}}

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
