body,h1,h2,h3,h4,h5,h6 {
    font-family: "Karma", sans-serif}

.name {
    text-decoration: none;
    color: black;
}

img.recipe-photo {
    width: 263px;
    height: 350px;;
}

.title {
    text-decoration-line: overline;
    text-align: center;
}

div.text-left {
    display: inline-block;
    text-align: left;
}

.row {
    display: block;
}
/* Navbar */

.w3-right {
    margin-top: 8px;
    /* margin-right: 20px; */
    font-size: 16px;
}

.w3-right a {
    text-decoration: none;
    color: black;
}

.w3-center a {
    text-decoration: none;
    /* color: black; */
}

.bayrak-border {
    width: 40%;
    height: 40%;
    justify-content: center;
}

div.w3-top {
    background-color:rgb(242, 242, 242);    
}

/*Tarif img*/

.ingredients {
    text-align: center;
}

li {
    list-style: none;
}


/*About me */

div.w3-container.w3-padding-32.w3-center {
    padding-top: 80px;
}

button {
    border-radius: 10px;
    padding: 10px 15px;
    background-color:rgb(242, 242, 242);
    text-decoration: none
}

.contact a:hover {
    color:rgb(77, 148, 255);     
}
.contact a {
    font-size: 16px;
    text-decoration: none;   
}

.ezgiinthekitchen-contact {
    color:rgb(255, 128, 0);
    font-size: 18px;
    text-decoration: underline;
}

/* Footer*/

footer.w3-row-padding {
    background-color:rgb(242, 242, 242)
}

.insta-contact-color {
    color: rgb(221, 42, 123);
    padding-right: 20px;
   
}

.fb-contact-color {
    color: rgb(66,103,178);
    padding-right: 20px;
}

.youtube-contact-color {
    color:  rgb(255,0,0);
    padding-right: 20px;
   
}

.mail-contact-color {
    color: rgb(77, 148, 255);
}

.footer {
    background-color:rgb(242, 242, 242);
   
}

div.footer-bottom {
    height: 1200px;
}